@tailwind base;
@tailwind components;
@tailwind utilities;


/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
html {
    scroll-behavior: smooth;
  }
  @keyframes auto-scroll {
    0% {
      transform: translateX(100%); /* Start from off the right side */
    }
    50% {
      transform: translateX(-100%); /* Move off the left side */
    }
    100% {
      transform: translateX(100%); /* Return to the original position */
    }
  }

  @keyframes width-grow {
    from {
      width: 0%;
    }
    to {
      width: var(--target-width, 100%);
    }
  }

  .animate-auto-scroll {
    animation: auto-scroll 100s linear infinite;
  }

  .animate-width-grow {
    animation: width-grow 1s ease-out forwards;
  }
  